<div class="container">
  <div>
    <label for="userSelect">Select User:</label>
    <select id="userSelect" (change)="onUserChange($event)">
      <option *ngFor="let user of users" [value]="user.id" [selected]="user.id === selectedUserId">
        {{ user.username }}
      </option>
    </select>
  </div>

  <!-- Post List -->
  <div *ngIf="posts.length > 0">
    <h3>Posts by Selected User</h3>
    <ul>
      <li *ngFor="let post of posts" [class.selected]="post.id === selectedPostId" (click)="onPostSelect(post.id)">
        {{ post.title }}
      </li>
    </ul>
  </div>

  <!-- Comment Section -->
  <div *ngIf="comments.length > 0">
    <h3>Comments on Selected Post</h3>
    <ul>
      <li *ngFor="let comment of comments">
        <strong>{{ comment.name }}</strong>: {{ comment.body }}
      </li>
    </ul>
  </div>
</div>